<link rel="stylesheet" href="../public/about1.css">
<div class="about-heading">
    <div class="about-desc">
        <p class="main-title">
            About Calmpanion
        </p>
        <p class="sub-title">
            Calmpanion's mission is to provide every person access to lifelong mental health support.
        </p>
    </div>
    <div class="about-image">
        <img src="../public/images/ABOUT.jpg" class="about-photo">
    </div>
</div>
<div class="about-card-container">
    <div class="about-card one">
        <div class="sub-div">
            <img src="../public/images/who.jpg" class="who-image">
            <b class="who-title">Who are we?</b>
        </div>
        <div class="low-div">
            <p class="who-desc">
                Think of Calmpanion as your lifelong guide to better mental health. We’re here for you whenever you need
                us, wherever you are, helping you get through tough times and find joy in every day.
            </p>
        </div>
    </div>
    <div class="about-card two">
        <div class="sub-div">
            <img src="../public/images/what.jpg" class="who-image">
            <b class="who-title">What we do?</b>
        </div>
        <div class="low-div">
            <p class="who-desc">
                Through evidence-based meditation and mindfulness tools, mental health coaching, therapy, psychiatry,
                Calmpanion helps you create life-changing habits to support your mental health and find a healthier,
                happier you.
            </p>
        </div>
    </div>
    <div class="about-card three">
        <div class="sub-div">
            <img src="../public/images/how.jpg" class="who-image">
            <b class="who-title">How we do?</b>
        </div>
        <div class="low-div">
            <p class="who-desc">
                Our four values inform our decisions and how we operate day-to-day: put members first; bring a
                beginner's mind; seek truth, speak truth; embrace ownership
            </p>
        </div>
    </div>
</div>
<div class="doctors">
    <div class="heading">
        <p class="doc-heading">
            Meet our Doctors!
        </p>
    </div>
    <div class="doc-container">
        <div class="doc-info">
            <div class="doc-photo-con">
                <img src="../public/images/maledoc.jpg" class="doc-photo">
            </div>
            <div class="doc-desc">
             <p class="doc-name">Dr.Jhonny Singh </p>
             <p class="doc-wiki">
                A passionate psychiatrist with a flair for holistic mental health care. Dr. Jhonny  is known for her gentle demeanor and empathetic approach towards patients struggling with anxiety and mood disorders. She often incorporates mindfulness techniques and art therapy into her practice, believing in the power of creativity and self-expression as therapeutic tools.
             </p>
            </div>
        </div>
        <div class="doc-info">
            <div class="doc-photo-con">
                <img src="../public/images/maledoc.jpg" class="doc-photo">
            </div>
            <div class="doc-desc">
             <p class="doc-name">Dr.Vijay Kumar</p>
             <p class="doc-wiki">
                A charismatic neuropsychiatrist renowned for his innovative approach to treating complex mental illnesses such as schizophrenia and bipolar disorder. Dr. Vijay Kumar is a strong advocate for integrating cutting-edge neuroscience research into clinical practice, often utilizing advanced brain imaging techniques to tailor personalized treatment plans for his patients.
             </p>
            </div>
        </div>
        <div class="doc-info">
            <div class="doc-photo-con">
                <img src="../public/images/maledoc.jpg" class="doc-photo">
            </div>
            <div class="doc-desc">
             <p class="doc-name">Dr.Kitty Kumar</p>
             <p class="doc-wiki">
                A dedicated child and adolescent psychiatrist recognized for her unwavering commitment to the well-being of young minds. Dr. Patel is known for her warm and nurturing demeanor, creating a safe space for children and teens to explore their emotions and develop coping strategies for issues such as ADHD, trauma, and behavioral disorders. 
             </p>
            </div>
        </div>

    </div>
</div>
<div class="about-con">
    <div class="calm-photo">
        <img class="calm-pic" src="../public/images/smile.jpg">
    </div>
    <div class="calm-desc">
        <p class="desc">
            <b class="heading">Calmpanion</b><br>
            We make mental health support accessible to everyone, no matter their background or experience. Through our
            flagship Headspace app, we provide mindfulness tools for everyday life, including meditations, sleepcasts,
            mindful movement and focus exercises. Our enterprise offerings combine this experience with a human-centered
            model of care, with coaching, therapy, psychiatry and EAP services under one roof. Our team of experts
            ranges from mental health clinicians, to Emmy award-winning producers and data scientists, working together
            as one to help millions of people around the world be healthier and more productive.

        </p>
    </div>
</div>