<link rel="stylesheet" href="../public/donate1.css">
<div class="background-img">
    <div class="donate-desc">
        <p class="donateText">
        <h1 class="donate-heading">DONATE</h1>
        <h4 class="donate-sub-heading"> Make a difference.</h4>
        </p>
        <button class="donate-button" onclick="scrollToDiv()">Donate Now!</button>
    </div>

</div>

<p class="donate-cause-title">
    OUR CAUSES
</p>
<div class="donate-cause-container">
    <div class="donate-cause-card-one">
        <p class="donate-cause-card-title">Mental Health Awareness</p>
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>

    </div>
    <div class="donate-cause-card-two">
        <p class="donate-cause-card-title"> Services for people in Crisis</p>
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>
    </div>
    <div class="donate-cause-card-three">
        <p class="donate-cause-card-title">Access to Mental Health Care </p>
        <p class="donate-cause-card-desc">
        <p class="donate-cause-card-desc">Donations support the development and dissemination of educational materials,
            workshops, seminars, and campaigns aimed at promoting mental health literacy and understanding.</p>
        </p>
    </div>
</div>
<div class="donate-payment-container">
    <div class="donate-payment">
        <div class="donate-top">
            <p class="donate-text">CHOOSE A MONTHLY PAYMENT!</p>
        </div>
        <div class="donate-money-container one">
            <button class="donate-payy">₹200</button>
            <button class="donate-payy">₹300</button>
            <button class="donate-payy">₹400</button>
           
        </div>
        <div class="donate-money-container two">
            <button class="donate-payy">₹500</button>
            <button class="donate-payy">₹1000</button>
            <button class="donate-payy">₹2000</button>
        </div>
        <p class="donate-show">
            Your Gift Amount:
        </p>
        <h1 class="onclick-show">
         hh 
        </h1>
       <button class="confirm">CONFIRNM PAYMENT</button>
    </div>
</div>