<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="information-section.css" />
    <link rel="stylesheet" href="main-blog.css" />
    <link rel="stylesheet" href="footer.css" />

    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="heading.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <!--heading-->
    <section class="heading">
      <div class="heading-container">
        <div class="heading-text">
          <h1>Welcome to <span class="calmpanion">CALMPANION</span></h1>
          <h1>Your Online Sanctuary for Mental Wellness</h1>
          <p>
            "Discover peace, support, and resources for your mental health
            journey with CALMPANION. Empowering you to find calmness amidst
            life's challenges."
          </p>
          <a href="http://">Blogs</a>
        </div>
        <div class="heading-image">
          <img src="images/heading-image.svg" alt="" height="350px" />
        </div>
      </div>
    </section>
    <!--informatino-->
    <section class="information">
      <div class="information-container">
        <div class="info-cards">
          <img
            src="images/information/book-lover-isometric.svg"
            alt=""
            height="200" />
          <h2>Explore our blogs</h2>
          <p>
            "Discover peace, support, and resources for your mental health
            journey with CALMPANION
          </p>
        </div>
        <div class="info-cards">
          <img
            src="images/information/health-isometric.svg"
            alt=""
            height="200" />
          <h2>Meet doctors</h2>
          <p>
            "Discover peace, support, and resources for your mental health
            journey with CALMPANION
          </p>
        </div>
        <div class="info-cards">
          <img
            src="images/information/calendar-two-color.svg"
            alt=""
            height="200" />
          <h2>Book an appointment</h2>
          <p>
            "Discover peace, support, and resources for your mental health
            journey with CALMPANION
          </p>
          <!-- <a href="">Explore</a> -->
        </div>
      </div>
    </section>
    <!--blog and navigation-->
    <section class="blog">
      <div class="blog-container">
        <div class="main-blog" style="background-color: white"></div>
        <% if (locals.news) { %>
          <p><%= locals.news %></p>
        <% } else { %>
          <h1>Nothing here</h1>
        <% } %>
        
        <div class="navigation-cards">
          <div class="card card-1">
            <span>text</span>
            <div class="link">
              <h3>SURVEY</h3>
              <a href="/questions">
                <img
                  src="icons/angle-circle-right-icon.svg"
                  alt=""
                  height="30"
                  width="30" />
              </a>
            </div>
          </div>

          <div class="card card-2">
            <span>text</span>
            <div class="link">
              <h3>WRITE BLOG</h3>
              <a href="/blog">
                <img
                  src="icons/angle-circle-right-icon.svg"
                  alt=""
                  height="30"
                  width="30" />
              </a>
            </div>
          </div>

          <div class="card card-3">
            <span>text</span>
            <div class="link">
              <h3>BOOK APPOINTMENT</h3>
              <a href="/book">
                <img
                  src="icons/angle-circle-right-icon.svg"
                  alt=""
                  height="30"
                  width="30" />
              </a>
            </div>
          </div>

          <div class="card card-4">
            <span>text</span>
            <div class="link">
              <h3>MEET DOCTORS</h3>
              <a href="/doctors">
                <img
                  src="icons/angle-circle-right-icon.svg"
                  alt=""
                  height="30"
                  width="30" />
              </a>
            </div>
          </div>
        </div>  
      </div>
    </section>
    <%- include("partials/footer.ejs") %>
    <script>
      const sidebar = document.querySelector(".sidebar").style;
      const hamburger = document.querySelector(".hamburger").style;
      const cross = document.querySelector(".cross").style;
      const menu = document.querySelector(".menu");
      if (window.innerWidth < 576) {
        hamburger.display = "block";
      } else {
        sidebar.display = "none";
        hamburger.display = "none";
        cross.display = "none";
      }
      window.addEventListener("resize", () => {
        if (window.innerWidth < 576) {
          hamburger.display = "block";
        } else {
          sidebar.display = "none";
          hamburger.display = "none";
          cross.display = "none";
        }
      });
      function toggleSidebar() {
        cross.display = hamburger.display === "none" ? "block" : "none";
        sidebar.display = cross.display === "none" ? "flex" : "none";
        hamburger.display = sidebar.display === "none" ? "block" : "none";
        cross.display = hamburger.display === "none" ? "block" : "none";
      }
    </script>
  </body>
</html>





