@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary: #ff7817;
}
.heading {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 80px;
  border: 3px solid black;
  box-shadow: 5px 4px black;
  background-color: rgba(255, 255, 255, 0.722);
  backdrop-filter: blur(100px);
}
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.heading-text {
  padding: 0px 50px;
}
.heading-text h1 {
  font-size: 30pt;
  font-weight: 1500;
}
.heading-text p {
  font-size: 10pt;
  padding: 30px 0px;
  padding-top: 0px;
}
.heading-text a {
  background-color: black;
  text-decoration: none;
  font-size: 15pt;
  color: white;
  padding: 10px 30px;
}
.calmpanion {
  font-weight: 900;
  font-size: 40pt;
  background: linear-gradient(to right, #ff7817 0%, #ff08b5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-image {
  margin-right: 50px;
}