* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
  
  .blog {
    padding-top: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 20px;
    padding: 20px 60px;
    /* border: 3px solid black;
    box-shadow: 5px 4px black; */
  }
  .blog-container {
    display: flex;
    justify-content: space-between;
  }
  .main-blog {
    width: 100%;
    margin-right: 30px;
    border: 3px solid black;
    box-shadow: 5px 4px black;
  }
  .navigation-cards {
    width: 500px;
  }
  .card {
    margin: 40px 0px;
    height: 250px;
    /* border: 3px solid black;
    box-shadow: 2px 4px black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    outline: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 15px black;
  }
  .card-1 {
    background-image: url(./images/cards/card-1.svg);
    background-repeat: no-repeat;
    background-size: calc(100%);
  }
  .card-2 {
    background-image: url(./images/cards/card-2.svg);
    background-repeat: no-repeat;
    background-size: calc(100%);
  }
  .card-3 {
    background-image: url(./images/cards/card-3.svg);
    background-repeat: no-repeat;
    background-size: calc(100%);
  }
  .card-4 {
    background-image: url(./images/cards/Project\ 15_7.svg);
    background-repeat: no-repeat;
    background-size: calc(100%);
  }
  
  .card .link {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(5px);
    height: 40%;
    position: relative;
  }
  
  .card span {
    background-color: rgb(255, 255, 255);
    width: 20%;
    text-align: center;
    border-radius: 5px;
  }
  .card .link h3 {
    padding: 10px;
    font-weight: 900;
    color: #000000c3;
  }
  .card .link a {
    position: absolute;
    background-color: #ffffffbc;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
  }